html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 24px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    height: 100%;

}

* {
    margin: 0;
    box-sizing: border-box;
    color: #4a4a4a;
    --color-primary: #00d1b2;
    --color-link: #3273dc;
    --color-info: #3298dc;
    --color-success: #48c774;
    --color-warning: #ffdd57;
    --color-danger: #f14668;
    --color-primary-hover: #00c4a7;
    --color-link-hover: #276cda;
    --color-info-hover: #2793da;
    --color-success-hover: #3ec46d;
    --color-warning-hover: #ffdb4a;
    --color-danger-hover: #f03a5f;

    --color-accent: #96B499;
    --color-text: #34495e;
    --color-text-info: #2788e8;
    --color-button: #ffffff;
}


input[type=number] {
    -moz-appearance: textfield
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
}

input[type=color] {
    padding: 0;

    border: none;

    outline: none;

    cursor: pointer
}

input ::-webkit-color-swatch-wrapper {
    background: #fff
}

input ::-webkit-color-swatch {
    position: relative
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none
}

::-webkit-input-placeholder {
    color: #999
}

::-moz-placeholder {
    color: #999
}

:-moz-placeholder {
    color: #999
}

:-ms-input-placeholder {
    color: #999
}


.mt1 {
    margin-top: 12px
}

.mt2 {
    margin-top: 16px
}

.input,
.textarea,
input[type=checkbox] {
    appearance: none;

    -moz-appearance: none;

    -webkit-appearance: none
}

.input,
.textarea,
.button,
input[type=checkbox],
.static,
.select {
    border-radius: 3px;

    border: 1px solid #dbdbdb;

    align-items: center;

    color: var(--color-text);

    display: inline-flex;

    position: relative
}

.input,
.textarea,
.button,
.file-cta,
.file-name,
.static,
.select {
    outline: none;

    font-size: 14px;

    line-height: 18px;

    min-height: 34px
}

.input,
.textarea {
    max-width: 100%;

    width: 100%
}

.input.error,
.textarea.error {
    border: 1px solid #ff3860
}

.input,
.textarea,
.file-cta,
.file-name {
    padding: 8px 12px
}

.button,
.file-cta,
.file-name,
.static {
    padding: 8px 16px
}

.input:hover,
.textarea:hover,
input[type=checkbox]:hover,
.select:hover,
.input:focus,
.textarea:focus {
    border-color: var(--color-primary)
}

.input[disabled],
.textarea[disabled] {
    background: #f5f5f5;

    border-color: #dbdbdb
}

.select {
    padding: 0 12px;

    flex-shrink: 0
}

.static {
    flex-shrink: 0;

    background: #f5f5f5
}

.static:hover {
    border-color: #dbdbdb !important
}

.textarea {
    display: block;

    max-width: 100%;

    min-width: 100%;

    resize: vertical;

    line-height: 22px
}

.textarea.fixed-size {
    resize: none
}

.button {
    cursor: pointer;

    background: #fff;

    justify-content: center;

    text-align: center;

    white-space: nowrap
}

.button:hover {
    border-color: #b5b5b5
}

.button:active {
    background: #f9f9f9
}

.button.primary {
    color: #fff;

    z-index: 3;

    border-color: var(--color-primary);

    background: var(--color-primary)
}

.button.primary:hover {
    background: var(--color-accent);

    border-color: var(--color-accent)
}


.flex {
    display: flex
}

.inline {
    width: auto;

    display: inline
}

.bordered {
    border-radius: 2px;

    border: 1px solid #dbdbdb
}

.fullwidth {
    width: 100%
}

.fullHeight {
    height: 100%
}

.content-center {
    display: flex;

    justify-content: center
}

.content-center *:not(:first-child) {
    margin-left: 1em
}

.group {
    display: inline-flex
}

.group * {
    border-radius: 0
}

.group *:not(:first-child) {
    margin-left: -1px
}

.group *:first-child {
    border-radius: 3px 0 0 3px
}

.group *:last-child {
    border-radius: 0 3px 3px 0
}

.group *:not(.primary):hover {
    z-index: 3;

    border-color: #b5b5b5
}

.group *:focus {
    z-index: 4
}

.mid-menus {
    align-items: center;

    justify-content: center;

    width: 130px;

    display: flex;

    padding: 0 16px
}

.mid-menus * {
    width: 100%
}

.mid-menus .button {
    margin: 0
}

.mid-menus .button:not(:first-child) {
    margin-top: 16px
}

.text-info {
    color: var(--color-text-info) !important
}


.success {
    color: var(--color-button);
    background: var(--color-success);
}

.success:hover {
    color: var(--color-button);
    background: var(--color-success-hover);
}

.primary {
    color: var(--color-button);
    background: var(--color-primary);
}

.primary:hover {
    background: var(--color-primary-hover);
}

.info {
    color: var(--color-button);
    background: var(--color-info);
}

.fa-icon {
    color: var(--color-button);
}
.text-success{
    color: var(--color-success);
}
.text-success:hover{
    color: var(--color-success-hover);
}
.text-error{
    color: var(--color-danger);
}
.text-error:hover{
    color: var(--color-danger-hover);
}
.file,
.file-zone {
    display: flex;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.file .file-cta {
    border-radius: 3px 0 0 3px;
    background: green;
    color: #fff;
}


.file-button {
    margin-left: 8px;
    color: #fff;
}

.file .file-name {
    border: 1px solid #dbdbdb;
    border-left: none;
    border-radius: 0 3px 3px 0;
}

.fullwidth .file-name {
    flex-grow: 1;
    max-width: none;
}

.file-cta,
.file-name {
    display: flex;
    align-items: center;
    outline: none;
}

/*  最重要的样式 */
.file-input {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    outline: none;
    cursor: pointer;
}


.editarea {
    width: 1px;

    height: 85vh;

    flex-grow: 1
}

pre {
    overflow: auto;
}

.options {
    width: 200px;
    margin: 0 24px
}

#input_size {
    max-width: 111px
}

.image {
    width: 280px;
    height: 280px;
    background-color: #f3f3f3;
    clear: both;
    display: block;
    margin: auto
}

.content p:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
    margin-bottom: 16px;
}